<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}" th:object="${user}">
  <label for="firstName">Enter first name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <label for="lastName">Enter last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <label for="username">Enter username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <p>
    <label>Select Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${roles}"
             th:text="${role.getRole()}"
             th:value="${role.id}"
             th:field="*{roles}"
      />
    </label>
  </p>
  <!--
  <select id="role" name="role">
    <option th:each="role : ${roles}"
            th:selected="${user.getRoles().contains(role)}"
            th:text="${role.getRole()}">Role</option>
  </select>
  -->
  <br/>
  <input type="submit" value="Update!"/>
</form>
<div th:replace="fragments/logout :: logout"></div>
</body>
</html>